li{
    list-style-type: none;
    background-color:#777777;
    width: 200px;
    padding: 10px;
}




.prior-high{
	background-color: #A60311;

}
.prior-medium{
	background-color: #F26716;

}
.prior-low{
	background-color: #023A85;

}

.done{
    text-decoration: line-through;
    background-color: #1A8C16;
}