doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/screen.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    #allquestions
  


  block scripts
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js')
    script(src='http://localhost:8000/faye/client.js')
    script(src='/javascripts/allquestions.js')