doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/screen.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    p Dit is een test
    form#contactform
    #formu
        input#txtNaam(type='text', name='txtNaam', placeholder='What\'s your name?')
        br
        textarea#txtCommentaar(row='1', name='txtCommentaar', placeholder='Give me your question!')
        br
        button#verzenden.verzenden Send
