@mixin margin($margin) {
  	margin-left: $margin;
	margin-top: $margin;
	margin-right: $margin;
}
.vragen{
	margin: 0 auto;
  	color:white;
	width: 100.0rem;
	height: 15.0rem;
	overflow: hidden;

}
.vraagdiv{
	background-color: #012943;
	width: 50.0rem;
	@include margin(1.0rem);
	float: left;
	height: 100%;
}
.vraag{
	margin: 1.0rem;
	font-size: 2.4rem;
	position: relative;
	width: 100%;

}
.gebruikerdiv{
	float: right;
	margin-right: 2.0rem;
	vertical-align: bottom;
}

.likediv{ 
	background-color: #012943;
	width: 15.0rem;
	height: 100%;
	@include margin(1.0rem);
	margin-left: 0rem;
	float: left;
	p{
   		font-weight: 30.0;
		text-align: center;
		line-height: 14.0rem;
		font-size: 6.2rem;
		font-family: "HelveticaNeue-Light";

	}
}