body{
	background-color: #06476B;
}
p{
	color: #FFF;
}
canvas{
	margin: 0 auto;
	display:block;
}
#date, #tempnow{
	font-size: 36px;
}
#weather{
	font-size: 24px;
}
#maxtemp, #mintemp{
	font-size: 18px;
}